@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{

}


<div class="form-container">
    <h2>Login to Admin</h2>
    @using (Html.BeginForm())
    {
        <div class="field-row">
            <input type="password" name="password" placeholder="Password" />
        </div>
        <button class="submit">Login</button>
    }
</div>
