@{
    ViewBag.Title = "Index";
}

<div class="reco-container">
    <h2>Recommendations</h2>
    <ul class="reco-list">
        <li>
            
            <p class="person-section">
                <em class="name">Landon Cowan</em>
                <em class="title">Director of Client Services</em>, <em class="company">Genex</em>
            </p>
            <p>
                A favorite short boot is updated with a buttoned shaft that can be cuffed for a cute 
                variation on the look. The soft, cozy lining is made from genuine shearling with a plush 
                UGGpure™ footbed to keep feet warm and comfortable. UGGpure™ is a moisture-wicking textile made entirely from wool but crafted to feel and wear like genuine shearling.
            </p>
         
        </li>
        <li>
            
            <p class="person-section">
                <em class="name">Landon Cowan</em>
                <em class="title">Director of Client Services</em>, <em class="company">Genex</em>
            </p>
            <p>
                A favorite short boot is updated with a buttoned shaft that can be cuffed for a cute 
                variation on the look. The soft, cozy lining is made from genuine shearling with a plush 
                UGGpure™ footbed to keep feet warm and comfortable. UGGpure™ is a moisture-wicking textile made entirely from wool but crafted to feel and wear like genuine shearling.
            </p>
         
        </li>
    </ul>
</div>
