/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TYPEKIT FONTS: museo-sans, open-sans, futura-pt*/
html {
    
}

body {
    background-color: #fff;
    font-family: "open-sans", "museo-sans", "Helvetica";
}

.container {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top:0;
    left:0;
    right:0;
}

.col-left {
    width: 75px;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    height: auto;
    display: block;
    background-color: #222;
    overflow-y:hidden;
    z-index:2;
}

.col-right {
    position: absolute;
    top:0;
    bottom:0;
    height: auto;
    display: block;
    width: 100%;
    overflow-y:scroll;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
}

#main-nav {
    background-color: #222;
    width: 75px;
    padding: 0;
    position: fixed;
    top:0;
    height: 100%;
}

#main-nav a {
    color: #eee;
    font-family: Arial;
    font-size: 9px;
    text-decoration: none;
}

#main-nav #nav-logo {
    font-family: "futura-pt";
    font-weight: 300;
    font-size: 32px;
    display: block;
    text-align: center;
    margin: 15px auto;
}

#main-nav .main-links li, #main-nav .contact-links li{
    display: block;
    text-align: center;
    margin: 0px 0;
}

#main-nav .main-links li a, #main-nav .contact-links li a {
    display: block;
    
    height: 26px;
    line-height: 26px;
    padding-top: 40px;
    margin: 0px auto;
    text-align: center;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


#main-nav .main-links li a:hover,#main-nav .main-links li a:active ,#main-nav .contact-links li a:hover {
    background-color: #111;
    
}

.contact-links {
    
}

.icon-code {
    background-image:url('/images/icons.png');
    background-position: 2px 0px;
}

.icon-code.on {
    background-image:url('/images/icons.png');
    background-position: -70px 0px;
}

.icon-like {
    background-image:url('/images/icons.png');
    background-position: 1px -65px;
}

.icon-like.on {
    background-image:url('/images/icons.png');
    background-position: -70px -65px;
}

.icon-exp {
    background-image:url('/images/icons.png');
    background-position: 1px -137px;
}

.icon-exp.on {
    background-image:url('/images/icons.png');
    background-position: -71px -137px;
}

.icon-edu {
    background-image:url('/images/icons.png');
    background-position: 1px -207px;
}

.icon-edu.on {
    background-image:url('/images/icons.png');
    background-position: -71px -207px;
}

.icon-text {
    background-image:url('/images/icons.png');
    background-position: 1px -280px;
}

.icon-text.on {
    background-image:url('/images/icons.png');
    background-position: -71px -280px;
}

.icon-email {
    background-image:url('/images/icons.png');
    background-position: 1px -350px;
}

.icon-email.on {
    background-image:url('/images/icons.png');
    background-position: -71px -350px;
}

.icon-video {
    background-image:url('/images/icons.png');
    background-position: 1px -420px;
}

.icon-video.on {
    background-image:url('/images/icons.png');
    background-position: -71px -420px;
}

.icon-linkedin {
    background-image:url('/images/icons.png');
    background-position: 1px -490px;
}

.icon-linkedin.on {
    background-image:url('/images/icons.png');
    background-position: -71px -490px;
}

#nav-logo:after {
    content: "KEN";
    left: -50px;
    font-size: 13px;
    font-weight: bold;
    font-family: "museo-sans";
    color: #fff;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#nav-logo:before {
    content: "WANG";
    left: -50px;
    padding-top: 15px;
    font-size: 13px;
    font-weight: bold;
    font-family: "museo-sans";
    color: #fff;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

#nav-logo:hover:after {
    left: 10px;
}

#nav-logo:hover:before {
    left: 20px;
}

#nav-logo span{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

a#nav-logo {
    overflow: hidden;
}

#nav-logo:hover span{
    color: #222;
    position: relative;
    z-index: -1;
}

.promo-graphic {
    width: 30%;
    display: inline-block;
    min-width: 300px;
    float: left;
    height: 100%;
    padding-left: 75px;
    position: fixed;
}

.promo-graphic a{
    display:block;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.promo-graphic a img {
    min-width: 300px;
    width: 90%;    
}

.promo-graphic a:hover {

}

.promo-content {
    width: 62%;
    display: inline-block;
    float: right;
    height: 100%;
}

.promo-content .promo-data, .proj-detail {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


.tablefy {
    display: table;
}

.tablefy-cell {
    display: table-cell;
    vertical-align: middle;
}

h2{
    font-size: 50px;
    line-height: 1.25;
    font-weight: 300;
    margin: 10px 0 30px 0;
    -webkit-font-smoothing:antialiased;
}

.promo-data p, .proj-detail p {
    font-size: 20px;
    line-height: 1.5;
    -webkit-font-smoothing:antialiased;
}

.promo-content .action-btns a {
    display: inline-block;
    padding: 12px 22px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.promo-content .action-btns {
    margin-top: 45px;
}

.promo-graphic.theme-tube-alarm {
    background-color: #e03434;
}

.promo-content.theme-tube-alarm .action-btns .link1{
    background-color: #f16b6b;
}

.promo-content.theme-tube-alarm .action-btns .link1:hover {
    background-color: #b62c2c;
}

.promo-content.theme-tube-alarm .action-btns .link2{
    background-color: #65c7c7;
    padding-left: 50px;
    background-image:url('/images/icons.png');
    background-position: -158px -572px;
}

.promo-content.theme-tube-alarm .action-btns .link2:hover {
    background-color: #3d8b8b;
}

.loading {
    background-color: #222;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 255;
    opacity: .9;
    text-align: center;
}

.loading .loader-container {
    z-index: 256;
    text-align: center;
    padding: 50px;
    margin: 0 auto;
    background-color: #000;
}

.loader-container p {
    display: block;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
    font-family: "Helvetica";
    margin-bottom: 15px;
}
.loader-container .loader {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background-color: cyan;
    display: inline-block;
}

.loading-block-1 {
    animation: loaderAnimation1 1s linear infinite;
    -webkit-animation: loaderAnimation1 1s linear infinite;
}

.loading-block-2 {
    animation: loaderAnimation2 1s linear infinite;
    -webkit-animation: loaderAnimation2 1s linear infinite;
}

.loading-block-3 {
    animation: loaderAnimation3 1s linear infinite;
    -webkit-animation: loaderAnimation3 1s linear infinite;
}

.loading-block-4 {
    animation: loaderAnimation4 1s linear infinite;
    -webkit-animation: loaderAnimation4 1s linear infinite;
}

.loading-block-5 {
    animation: loaderAnimation5 1s linear infinite;
    -webkit-animation: loaderAnimation5 1s linear infinite;
}

.fade-out {
    animation: fadeOut 0.5s;
    -webkit-animation: fadeOut 0.5s;
}

.fade-in {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
}

@keyframes fadeOut {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes fadeOut /* Safari and Chrome */
{
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeIn
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes fadeIn /* Safari and Chrome */
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes loaderAnimation1
{
    0%   {opacity: 1;}
    10% {opacity: .8;}
    20% {opacity: .6;}
    30% {opacity: .4;}
    40% {opacity: .2;}
    50% {opacity: 0;}
}
@-webkit-keyframes loaderAnimation1 /* Safari and Chrome */
{
    0%   {opacity: 1;}
    10% {opacity: .8;}
    20% {opacity: .6;}
    30% {opacity: .4;}
    40% {opacity: .2;}
    50% {opacity: 0;}
}

@keyframes loaderAnimation2
{
    0% {opacity: .8;}
    10% {opacity: .6;}
    20% {opacity: .4;}
    30% {opacity: .2;}
    40% {opacity: 0;}
    50% {opacity: .2;}
}
@-webkit-keyframes loaderAnimation2 /* Safari and Chrome */
{
    0% {opacity: .8;}
    10% {opacity: .6;}
    20% {opacity: .4;}
    30% {opacity: .2;}
    40% {opacity: 0;}
    50% {opacity: .2;}
}

@keyframes loaderAnimation3
{
    0% {opacity: .6;}
    10% {opacity: .4;}
    20% {opacity: .2;}
    30% {opacity: 0;}
    40% {opacity: .2;}
    50% {opacity: .4;}
}
@-webkit-keyframes loaderAnimation3 /* Safari and Chrome */
{
    0% {opacity: .6;}
    10% {opacity: .4;}
    20% {opacity: .2;}
    30% {opacity: 0;}
    40% {opacity: .2;}
    50% {opacity: .4;}
}

@keyframes loaderAnimation4
{
    0% {opacity: .4;}
    10% {opacity: .2;}
    20% {opacity: 0;}
    30% {opacity: .2;}
    40% {opacity: .4;}
    50% {opacity: .6;}
}
@-webkit-keyframes loaderAnimation4 /* Safari and Chrome */
{
    0% {opacity: .4;}
    10% {opacity: .2;}
    20% {opacity: 0;}
    30% {opacity: .2;}
    40% {opacity: .4;}
    50% {opacity: .6;}
}

@keyframes loaderAnimation5
{
    0% {opacity: .2;}
    10% {opacity: 0;}
    20% {opacity: .2;}
    30% {opacity: .4;}
    40% {opacity: .6;}
    50% {opacity: .8;}
}
@-webkit-keyframes loaderAnimation5 /* Safari and Chrome */
{
    0% {opacity: .2;}
    10% {opacity: 0;}
    20% {opacity: .2;}
    30% {opacity: .4;}
    40% {opacity: .6;}
    50% {opacity: .8;}
}

.proj-container {
    padding: 50px 75px 50px 150px;    
    margin: 0 auto;
}

.proj-container .proj-list li{
    display: block;
    margin-bottom: 45px;
}

.proj-container .proj-list li img {
    width: 100px;    
}

.proj-container .proj-list li .img-container {
    width: 100px;
    height: 100px;
    display:inline-block;
    position: absolute;
}

.proj-container .proj-list li .content-container {
    padding: 0px 14px 14px 114px;
    min-height: 100px;
}

.content-container h3 {
    font-weight: lighter;
    font-size: 34px;
    margin: 0 0 18px 0;
}

.content-container p {
    line-height: 1.5;
    font-size: 16px;
}

.proj-container h2 {
    margin-bottom: 70px;
}

.proj-container p.tech-list {
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    color: #aaa;
}

.proj-container p.tech-list > span {
    text-transform: uppercase;
}

.proj-container .simple-link {
    text-decoration: none;
    color: #222;
}

.proj-container .simple-link:hover {
    color: #aaa;
}

.proj-detail .proj-type-date {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.proj-detail h3 {
    font-size: 26px;
    margin: 60px 0 20px 0;
}

.proj-detail .proj-features span {
    font-weight: bold;
}

.theme-tube-alarm .proj-detail h3 {
    color: #e03434;
}

.theme-rather-this.promo-graphic {
    background-color: #393939;
}

.theme-rather-this h3 {
    color: #3498db;
}

.theme-rather-this .link2 {
    background-color: #3498db;
}

.theme-rather-this .link2:hover {
    background-color: #2980b9;
}

/* Contact page css */
@font-face {
    font-family: AndaleMono;
    src: url('/content/fonts/AndaleMono.ttf');
}
.terminal {
    font-family: AndaleMono!important;
    color: #63de00!important;
    font-size: 13px;
}

.contact-container {
    padding: 80px 75px 80px 150px;
    background-color: #000;
    width: 600px;
    margin: 0 auto;
}

.terminal input, .terminal textarea {
    border: none;
    background-color: #000;
    font-family: AndaleMono!important;
    color: #63de00!important;
    font-size: 13px;
    line-height: 13px;
    padding: 0;
    margin: 0;
    width: 575px;
}
.terminal input:focus, .terminal textarea {
    outline:none;
}

.terminal textarea {
    resize: none;
    height: 250px;
    overflow: hidden;
}

label.prompt {
    float: left;
    padding-right: 3px;
}

.terminal p span {
    padding-right: 3px;
}

em.double-prompt {
    color: #0276FD;
    padding-right: 3px;
}

.send-complete-copy em.send-success {
    font-weight: bold;
}

.contact {
    background-color: #000;
}

.error-container {
    height: 100%;
    padding: 50px 75px 50px 150px;
    position: fixed;
    color: #fff;
}

.error-container h2{
    font-size: 60px;
    background-color: #000;
    opacity: 0.75;
    padding: 15px 30px;
    display:inline-block;
    font-family: "futura-pt";
    font-weight: lighter;
}

.error-container p {
    font-size: 20px;
    background-color: #000;
    opacity: 0.75;
    padding: 15px 30px;
    font-family: "futura-pt";
    font-weight: lighter;
    line-height: 1.5;
}

.error-container .nelson {
    position: fixed;
    bottom: 0;
    right: 0;
}

.not-found {
    background-image: url(/images/socks.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.server-error h2 {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    margin: 0;
}

.server-error {
    display: block;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 80px;
}

.server-error p {
    display: inline-block;
    background-color: red;
}

.server-error a {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    display: block;
    background-color: red;
    opacity: 0.65;
    margin: 80px auto;
    cursor: pointer;

    background-color: #FF3333;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF3333), to(#CC0000));
    background-image: -webkit-linear-gradient(top, #FF3333, #CC0000); 
    background-image: -moz-linear-gradient(top, #AE2C1C, #750000); 
    background-image: -ms-linear-gradient(top, #AE2C1C, #750000); 
    background-image: -o-linear-gradient(top, #AE2C1C, #750000); 
    box-shadow: 0px 3px 8px #B43E3E, inset 0px 2px 3px #D85656;
}

.server-error a:hover {
    background: #FF1111;
}

.server-error a:before {
    content: "";
      display: block;
      background: #fff;
      border-top: 2px solid #ddd;
      position: absolute;
      
      z-index: -1;
      border-radius: 50%;
      box-shadow: inset 0px 8px 48px #ddd;
}
