@{
    ViewBag.Title = "Home Page";
}



<div class="promo-graphic tablefy theme-tube-alarm">
    <div class="tablefy-cell">
        <a href="/"><img src="@Url.Content("~/images/projects/tube-alarm-logo.png")" alt="Tube Alarm Clock" /></a>
    </div>
</div>
<div class="promo-content tablefy theme-tube-alarm">
    <div class="tablefy-cell">
        <div class="promo-data">
            <h2>Wake up to your favorite videos on YouTube</h2>
            <p>
                Tube Alarm is my first Android app released into the Play Store. The goal was to                 create a convenient away to set any song or video as my wake up tune. The alarm                 uses YouTube as your library, giving you unlimited choices to start your morning.
            </p>
            <div class="action-btns">
                <a href="/" class="link1 roll">Learn more</a>
                <a href="/" class="link2">Play Store</a>
            </div>
        </div>
    </div>
</div>